body{
  background-color: yellow;
  font-family: sans-serif;
}
assignment{
  display: flex;
  padding: 10px;
  margin: 10px;
  background: white;
  border-radius: 5px;
}
.assignment img{
  width: 200px;
  padding: 10px;
  border: 2px solid black;
}

h1 {
  color: black;
  text-align: center;

}
a{
  text-decoration: none;
  color: white; 
}
